nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0,0.7);
    padding: 20px;
}

span {
  color: white;
  font-family: 'Lato', Arial, Helvetica, sans-serf;
  font-weight: bold;
}

.navMenu {
    display: flex;
}

.navMenu li {
    list-style: none;
    margin-left: 10px;
}

.navMenu li a {
    color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    font-weight: bold;
}

.caseStudyGrid {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
  }

  .caseStudy1, .caseStudy2, .caseStudy3, .caseStudy4 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .caseStudy1 {
    background-image: url("../images/Girlstart\ Home\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .caseStudy2 {
    background-image: url("../images/craftpop4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .caseStudy3 {
    background-image: url("../images/APLdesktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .caseStudy4 {
    background-image: url("../images/local.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
  }
  .text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    font-weight: bold;
  }
  .text h1 {
    font-family: 'Lato', Arial, Helvetica, sans-serf;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px;
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    color: white;
    font-weight: bold;
}


/*This is Elizabeth's code*/
@media only screen and (max-width: 600px) {
  .caseStudyGrid {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
  }
  .caseStudy1, .caseStudy2, .caseStudy3, .caseStudy4 {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  .caseStudy2 {
    background-image: url("../images/craftpop4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
  }
}