/* This is the Home page of Portfolio */

/*Navigation Bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(64, 64, 64);
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 5;
}

span a {
  color: white;
  font-family: 'Lato', Arial, Helvetica, sans-serf;
  font-weight: bold;
}

.navMenu {
    display: flex;
}

.navMenu li {
    list-style: none;
    margin-left: 10px;
}

.navMenu li {
    color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    font-weight: bold;
}

.navMenu button {
  background-color: rgb(64, 64, 64);
  border: none;
  color: white;
  font-family: 'Lato', Arial, Helvetica, sans-serf;
  font-weight: bold;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Meatsunset.jpg");
  width: 100%;
  /* Set a specific height */
  height: 500px;


  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Lato', Arial, Helvetica, sans-serf;
  font-weight: bold;
}

/*Starting My Code*/

.caseStudyGrid {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
  }

  .caseStudy1, .caseStudy2, .caseStudy3, .caseStudy4 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .caseStudy1 {
    background-image: url("../images/Girlstart\ Home\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .caseStudy2 {
    background-image: url("../images/craftpop4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .caseStudy3 {
    background-image: url("../images/APLdesktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .caseStudy4 {
    background-image: url("../images/local.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
  }
  .text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    font-weight: bold;
  }
  .text h1 {
    font-family: 'Lato', Arial, Helvetica, sans-serf;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.7);
    padding: 20px;
    font-family: 'Lato', Arial, Helvetica, sans-serf;
    color: white;
    font-weight: bold;
}

/*This is the Case Study Projects' css*/
.caseStudyBlock {
  display: flex;
}




/*This is the index.html page's media query code for mobile*/
@media only screen and (max-width: 600px) {
  .caseStudyGrid {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
  }
  .caseStudy1, .caseStudy2, .caseStudy3, .caseStudy4 {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  .caseStudy2 {
    background-image: url("../images/craftpop4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

