nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 244, 253);
    padding: 20px;
}

.navMenu {
    display: flex;
}

.navMenu li {
    list-style: none;
    margin-left: 10px;
}

/* Column styles */
.column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .CaseStudy1, .CaseStudy2, .CaseStudy3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .CaseStudy1 {
    margin-top:20px;
    background-image: url("../images/steak.png");
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .CaseStudy2 {
    background-image: url("../images/soup.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .CaseStudy3 {
    background-image: url("../images/cheesecake.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
  }
  .text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
  }
  .text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 244, 253);
    padding: 20px;
}